{{template "header"}}


    <!--=== page header ===-->
    <section class="page-header d-flex align-items-center">
        <div class="container-fluid">
            <div class="page-header-content text-center">
                <div class="page-header-tag">Daily Update</div>
                <div class="page-header-title">Our Latest News</div>
            </div>
        </div>
    </section>

    <!--=== blog page ===-->
    <section class="blog-page-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-page-header">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_01.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_02.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_03.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_04.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_01.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_02.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_03.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_04.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_01.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_02.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_03.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-post">
                                <div class="post-img">
                                    <img class="img-fluid" src="/static/images/thumb/blog-item_04.jpg" alt="image">
                                </div>
                                <div class="blog-details">
                                    <ul class="list-inline blog-item-links">
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-person"></i>Admin</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-calendar"></i>November 18, 2018</a></li>
                                        <li class="list-inline-item"><a href="#"><i class="ion ion-chatbubbles"></i>Comments 113</a></li>
                                    </ul>
                                    <a href="#"><h4 class="media-heading">Lorem Ipsum adalah contoh digun akan didal indust</h4></a>
                                    <p>Lorem Ipsum adalah text contoh digun akan didalam industri pence taka types etting adalah text contoh.</p>
                                    <a href="http://127.0.0.1:8000/blog/v2/single" class="blog-post-link">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center"><button type="submit" class="btn btn-primary main-btn btn-reload"><i class="fa fa-spinner fa-spin"></i> View More</button></div>
                </div>
            </div>
        </div>
    </section>


{{template "footer"}}