{{template "header"}}


    <!--=== page header ===-->
    <section class="page-header d-flex align-items-center">
        <div class="container-fluid">
            <div class="page-header-content text-center">
                <div class="page-header-tag">Ask Anything</div>
                <div class="page-header-title">Contact Us</div>
            </div>
        </div>
    </section>

    <!--=== google map ===-->
    <section class="google-map">
        <iframe width="100%" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=W3%20Eden%2C%20Inc.%2C%20Chittagong%2C%20Chittagong%20Division%2C%20Bangladesh&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
    </section>

    <!--=== contact ===-->
    <section class="contact">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="contact-overlay">
                    <div class="col-10 mx-auto text-center">
                        <h1 class="page-title-1">Contact with us</h1>
                        <p class="page-tag-1">Don't hesitate to aks questions, We will reply as soon as possible.</p>
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">Your Name</label>
                                    <input name="name" class="form-control" placeholder="Your Name" type="text">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">Your Email</label>
                                    <input name="email" class="form-control" placeholder="Your Email" type="email">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label class="sr-only">Massage</label>
                                    <textarea class="form-control textarea" name="message" rows="5" placeholder="Write Massage..."></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-secondary">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{{template "footer"}}