
{{template "header"}}


<!--=== header intro ===-->
<section id="home" class="header-intro-1 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header-intro-wrap text-center">
                    <div class="header-intro-title"><h3>The best Bootstrap theme ever seen</h3></div>
                    <div class="header-intro-tag">Stop find another theme from now, Guarantee. </div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-main">Get Started</a></li>
                        <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">Purchase Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=== speciality ===-->
<section class="speciality">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-cloud-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-book-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-browsers-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-pie-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-medkit-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="speciality-wrap">
                    <div><i class="ion ion-ios-analytics-outline"></i></div>
                    <a href="#">Marketing Cloud</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=== products intro ===-->
<section id="blog" class="product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title-wrap text-center">
                    <div class="section-tag">See All </div>
                    <div class="section-title"><h2>Our News Update</h2></div>
                    <div class="section-detail-para">Want to give a new look to your site or still need more feature? WordPress Download Manager Plugin has lots of amazing themes, add-ons and there are further more coming continuously...</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="card">
                        <div class="product__item-img">
                            <img class="card-img-top img-fluid product-face" src="/static/images/thumb/blog-thumb_01.jpg" alt="Product Thumb">
                            <div class="product__item-overlay">
                                <ul class="list-inline product-info">
                                    <li class="list-inline-item"><a href="http://127.0.0.1:8000/blog/v2/single"><i class="ion ion-ios-search"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content-inner card-body">
                            <div class="product__title-price">
                                {{/*                                <a href="http://127.0.0.1:8000/blog/v2/single">*/}}
                                <h5 class="card-title">The Best Productivity Apps on Market</h5>
                                {{/*                                </a>*/}}
                            </div>
                            <div class="product-para">You can use multiple file with single entry at front-end.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="card">
                        <div class="product__item-img">
                            <img class="card-img-top img-fluid product-face" src="/static/images/thumb/blog-thumb_01.jpg" alt="Product Thumb">
                            <div class="product__item-overlay">
                                <ul class="list-inline product-info">
                                    <li class="list-inline-item"><a href="http://127.0.0.1:8000/blog/v2/single"><i class="ion ion-ios-search"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content-inner card-body">
                            <div class="product__title-price">
                                {{/*                                <a href="http://127.0.0.1:8000/blog/v2/single">*/}}
                                <h5 class="card-title">The Best Productivity Apps on Market</h5>
                                {{/*                                </a>*/}}
                            </div>
                            <div class="product-para">You can use multiple file with single entry at front-end.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="card">
                        <div class="product__item-img">
                            <img class="card-img-top img-fluid product-face" src="/static/images/thumb/blog-thumb_01.jpg" alt="Product Thumb">
                            <div class="product__item-overlay">
                                <ul class="list-inline product-info">
                                    <li class="list-inline-item"><a href="http://127.0.0.1:8000/blog/v2/single"><i class="ion ion-ios-search"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content-inner card-body">
                            <div class="product__title-price">
                                {{/*                                <a href="http://127.0.0.1:8000/blog/v2/single">*/}}
                                <h5 class="card-title">The Best Productivity Apps on Market</h5>
                                {{/*                                </a>*/}}
                            </div>
                            <div class="product-para">You can use multiple file with single entry at front-end.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="card">
                        <div class="product__item-img">
                            <img class="card-img-top img-fluid product-face" src="/static/images/thumb/blog-thumb_01.jpg" alt="Product Thumb">
                            <div class="product__item-overlay">
                                <ul class="list-inline product-info">
                                    <li class="list-inline-item"><a href="http://127.0.0.1:8000/blog/v2/single"><i class="ion ion-ios-search"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content-inner card-body">
                            <div class="product__title-price">
                                {{/*                                <a href="http://127.0.0.1:8000/blog/v2/single">*/}}
                                <h5 class="card-title">The Best Productivity Apps on Market</h5>
                                {{/*                                </a>*/}}
                            </div>
                            <div class="product-para">You can use multiple file with single entry at front-end.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="text-center"><a href="http://127.0.0.1:8000/blog/v2/blogpage" class="btn btn-primary main-btn btn-reload"><i class="fa fa-spinner fa-spin"></i> View More</a></div>
            </div>

        </div>
    </div>
</section>


<!--=== feature ===-->
<section id="feature" class="feature" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-tag">Our Provided</div>
                <div class="section-title mb-5"><h2>Latest Features</h2></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-cloud-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-gear-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-bell-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-timer-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-cloud-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-gear-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-bell-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature-wrap">
                    <div><i class="ion ion-ios-timer-outline"></i></div>
                    <a href="#">Multi-file Package</a>
                    <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=== highlight section ===-->
<section class="highlight-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="highlight-section-wrap text-center">
                    <div class="highlight-section-title"><h3>WE WORK HARD TO GIVE YOU UNIQUE PRODUCTS</h3></div>
                    <div class="highlight-section-tag">Ready to buy now? we can assure you that you won’t regret it </div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-main">Get Started</a></li>
                        <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">Purchase Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=== about us ===-->
<section id="about" class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-wrap">
                    <div class="section-tag">Welcome to Wpdm</div>
                    <div class="section-title"><h2>About Us</h2></div>
                    <p>
                        We design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. Design is our art and our passion. Our goal is to create the best products with a pixel-perfect eye for detail and a high standard for aesthetic excellence.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-image text-center">
                    <div><img class="img-fluid" src="/static/images/svg/undraw_hello_aeia.svg" alt="About Us"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{template "footer"}}