{{template "header"}}


    <!--=== page header ===-->
    <section class="page-header d-flex align-items-center">
        <div class="container-fluid">
            <div class="page-header-content text-center">
                <div class="page-header-tag">Post Detail</div>
                <div class="page-header-title">Read Single Post</div>
            </div>
        </div>
    </section>

    <!--=== single blog post ===-->
    <section class="blog-home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <div class="post post-card">
                        <div class="single-post-header">
                            <div class="post-tag">November 18, 2018</div>
                            <ul class="list-inline blog-item-links">
                                <li class="list-inline-item"><a href="#">Wordpress</a></li>
                                <li class="list-inline-item"><a href="#">Theme</a></li>
                                <li class="list-inline-item"><a href="#">Corporate</a></li>
                            </ul>
                            <h1>The best preparation for tomorrow is doing your best today </h1>
                        </div>
                        <a href="#" class="post-image" ><img src="/static/images/thumb/blog-item_01.jpg" alt="#" class="img-fluid featured-img"></a>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-details">
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.
                                    </p>
                                    <p>
                                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                                    </p>
                                    <h2>The best preparation for tomorrow is doing your best today </h2>
                                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat, duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <h3>There are two ways of spreading light to be the candle</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, excepteur sint occaecat.</p>

                                    <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline share-icon text-left">
                            <li class="list-inline-item"><span>Theme</span></li>
                            <li class="list-inline-item"><span>Blog</span></li>
                            <li class="list-inline-item"><span>Wordpress</span></li>
                        </ul>
                    </div>

                    <div class="post-writer">
                        <div class="media d-flex align-items-center">
                            <img class="mr-5" src="/static/images/designz.jpg" alt="Admin">
                            <div class="media-body">
                                <h5 class="mt-0">John Doe</h5>
                                <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                <ul class="list-inline share-icon text-left">
                                    <li class="list-inline-item"><i class="fa fa-facebook"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=== blog comments ===-->
    <section class="all-comments contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-8 mx-auto">
                    <div class="comment-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=""><h2 class="comment-section-title">Comments here</h2></div>

                                <div class="media single-content">
                                    <a href="#"><img class=" img-responsive" src="/static/images/team_1.jpg" alt="image"></a>
                                    <div class="media-body">
                                        <h3 class="">Jhon Doe | <span>Oct 03, 2016</span></h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                                        </p>
                                        <div class="media single-content">
                                            <a href="#"><img class=" img-responsive" src="/static/images/team_2.jpg" alt="image"></a>
                                            <div class="media-body">
                                                <h3 class="">Jhon Doe | <span>Oct 03, 2016</span></h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media single-content">
                                    <a href="#"><img class=" img-responsive" src="/static/images/team_3.jpg" alt="image"></a>
                                    <div class="media-body">
                                        <h3 class="">Jhon Doe | <span>Oct 03, 2016</span></h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="border-wrapper"><h2 class="comment-section-title">Reply a Comment</h2></div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">Your Name</label>
                                    <input name="name" class="form-control" placeholder="First Name" type="text">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">Your Email</label>
                                    <input name="email" class="form-control" placeholder="Your Email" type="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="sr-only">Massage</label>
                                    <textarea class="form-control textarea" name="message" rows="5" placeholder="Massage"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary">Leave a post</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


{{template "footer"}}

